h1 {
    color: blue;
    text-align: center;
}

.cell {
    display:table-cell; 
    border-right: 2px solid #000000; 
    border-bottom: 2px solid #000000; 
    width: 70px; 
    height: 70px;
    background-color: aqua;
}
.row {
    display:table-row; 
    clear: both; 
    overflow: hidden;
}
.table {
    display:table; 
    border-left: 3px solid black;
    border-top: 3px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}
.hidden {
    display: none;
}

#guess {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:20px;
    color: blueviolet;

}